@model MyHousing.Models.HouseState

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HouseState</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HouseStateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseStateId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suburb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suburb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bedroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bedroom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bathroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bathroom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarparkOk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarparkOk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetOk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetOk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnMarktetFlg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnMarktetFlg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HousePictures)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>House Picture ID</th>
                    <th>Image Path</th>
                    <th>MainImgFlg</th>
                    <th>House State ID</th>
                </tr>
                @foreach (var item in Model.HousePictures)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.HousePictureId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImagePath)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MainImgFlg)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HouseStateId)
                        </td>
                    </tr>
                }
            </table>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentCases)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Rent Case ID</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>User ID</th>
                    <th>House State ID</th>
                </tr>
                @foreach (var item in Model.RentCases)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RentCaseId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HouseStateId)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HouseStateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
