@model IEnumerable<MyHousing.Models.HouseState>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HouseStateId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HouseType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suburb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarparkOk)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HouseStateId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HouseType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Suburb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarparkOk)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HouseStateId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HouseStateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HouseStateId })
        </td>
    </tr>
}

</table>
